<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>RAN MEDIA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="big-font" text-center><b>RAN MEDIA</b></div>
  <ion-grid>
    <ion-row>
      <ion-col col-md-6>
        <ion-card [routerLink]="['/ran']">
          <ion-card-header>
            <ion-card-title>APA ITU RAN?</ion-card-title>
          </ion-card-header>
        
        </ion-card>
      </ion-col>
      <ion-col col-md-6>
        <ion-card [routerLink]="['/petunjuk']">
          <ion-card-header>
            <ion-card-title>PETUNJUK</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-md-6>
        <ion-card [routerLink]="['/intro/intro1']">
          <ion-card-header>
            <ion-card-title>LATIHAN</ion-card-title>
          </ion-card-header>
        
        </ion-card>
      </ion-col>
      <ion-col col-md-6>
        <ion-card [routerLink]="['/intro/intro1']">
          <ion-card-header>
            <ion-card-title>PERMAINAN</ion-card-title>
          </ion-card-header>
        
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
