<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pengertian RAN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card [routerLink]="['/ran/ran4']">
    <ion-card-content>
      <p>Seseorang bisa menjadi pembaca yang baik jika beberapa dari hal-hal ini otomatis,  jika ada sesuatu yang tidak otomatis itu akan menjadi pengganggu perhatian yang akan mengganggu kelancaran, pemahaman secara mutlak.
        <br>
        Pengajaran RAN mengatur pembaca dengan cara yang mencerminkan bagaimana otak harus melakukannya secara alami , jadi dengan kata lain RAN  menopang sub keterampilan anak di area ini, karena kami tahu itu tidak terjadi secara efisien seperti  yang  terjadi pada pemabaca  yang buruk jadi , sehingga dapat diumpamakan RAN  membangun wadah .
        <br>
        Pengajaran RAN melatih sistem visual untuk mengenali huruf dengan benar, kami akan sangat sadar dan menentukan jika bekerja pada itu dan tidak membuat asumsi bahwa itu akan datang secara alami ke anak , maka kita akan menghubungkan representasi visual tersebut ke suara yang tepat, sehingga kita akan menjadi sangat ekplisit dan terstruktur , sehubungan engan bagaimana kita menghubungkan kedua hal itu dan kemudian saat kami membantu mereka membangun , kami akan membantu mereka membangun  kecepatan  dalam hal pengenalan dan pengambilan, jadi  alih-alih berasumsi bahwa ada bagian lain dari ini tetapi alih-alih berasumsi bahwa otak anak  hanya akan melakukan itu secara otomatis , kita harus berasumsi bahwa kita harus sangat sistematis dan spesifik dalam pengajaran kita yang sebenarnya.
        <br>
        Pengajaran ini membantu guru melakukan proses sistematis langkah demi langkah menunjukan beberapa hasil yang sangat luar biasa untuknya dan menyatakan ,membantu anak mengkatagorikan dan mengatru informasi lebih efektif yang membantu dengan memori.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
