<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>RAPID AUTOMATIC NAMING</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
<h1><b>RAPID AUTOMATIC NAMING</b></h1>
<ion-card [routerLink]="['/ran/ran2']">
  <ion-card-content>
    Anak disleksia tidak hanya mengalami masalah fonologi, namun ada masalah untuk beberapa anak dengan tugas RAN (rapid automatic naming) atau penamaan otomatis cepat, dimana masalah RAN ini jauh lebih kompleks
    Terkadang anak secara khusus berjuang dengan ortografi. Ketika anak berlatih, mereka dapat memecahkan kode , kefasihan mereka juga baik, tetapi ketika mereka mengeja mereka mulai kesulitan.
    Ortografi mengacu pada aturan yang digunakan bahasa untuk ejaan atau kata yang dicetak.
    dengan kemampuan ortografi  anak mampu dengan cepat dan akurat dalam  memahami simbol pada huruf atau pengelompokan huruf yang membuat kata-kata dengan cara yang sangat efisien dan otomatis.  

  </ion-card-content>

</ion-card>
</ion-content>
