<ion-content class="ion-text-center" [routerLink]="['/intro/angka2']">
  <h1><b>Coba sebutkan nama angka di bawah ini ya, <br>saya beri contoh</b></h1>
  <!-- <ion-button (click)="playVoice()"> PLAY NOW</ion-button>
  <ion-button (click)="stopVoice()"> STOP NOW</ion-button> -->
  <br>
  <div class="fruits">
    <div class="xc"  *ngFor="let obj of array; let i = index">
      <ion-img class="angka-{{i}} image-class" [src]="obj.url" style="width: 2rem;"></ion-img>
    </div>
  </div>
</ion-content>
