<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pengertian RAN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card [routerLink]="['/ran/ran3']">
    <ion-card-content>
      Para profesional beralih dari gagasan otomatisitas karena decoding dan pemrosesan fonologis tujuannya adalah untuk membantu anak-anak menjadi lebih otomatis tetapi ketika berbicara tentang hal-hal tingkat tinggi seperti ortografi, kita berbicara tentang memikirkannya dalam hal konektivitas juga jadi pembaca yang fasih mereka dapat melihat huruf atau kata mereka dapat mengakses memori mereka, apakah itu sedikit kata , maka mereka tahu apa itu secara otomatis.
      Tetapi jika mereka memecahkan kode mereka harus mengatakan saya tahu apa surat itu dan saya harus mengakses database saya untuk memastikan supaya saya tahu apa yang menghubungkan huruf itu.
      Ada gangguan dengan kemampuan mereka untuk mengetahui dengan cepat dan efisien apa huruf itu atau mengetahui apa kata itu, maka dapat terlihat ada masalah dengan kelancaran dan benar-benar berdampak pada kecepatan pemrosesan.
    </ion-card-content>
  </ion-card>
</ion-content>
